<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Cuentas</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Test Final ACME SA</a>
			</div>
			<ul type="square" class="nav navbar-nav">
				<li><a th:href="@{/rest-usuario/usuario}">Datos usuario</a></li>		
			</ul>
		</div>
	</nav>

	<div class="container">
		<h2>Listado de cuentas</h2>
		<div class="table-responsive col-lg-8">
			<table class="table table-striped">
				<thead>
					<th>NroCuenta</th>
					<th>Tipo</th>
					<th>Moneda</th>
					<th>Saldo</th>
					<th>Opciones</th>
				</thead>
				<tbody th:each="cuenta : ${cuenta}" > 
				<tr>
					<td th:text="${cuenta.nrocuenta}"></td>
					<td th:text="${cuenta.tipo}"></td>
					<td th:text="${cuenta.moneda}"></td>
					<td th:text="${cuenta.saldo}"></td>
					<td><a th:href="@{/rest-movimiento/movimiento/{idcuenta}(idcuenta=${cuenta.idcuenta})}">Movimientos</a> | <a th:href="@{/rest-cuenta/cuenta/transferencia/{idcuenta}(idcuenta=${cuenta.idcuenta})}">Transferencia</a></td>
				</tr>					
				</tbody>
			</table>
		</div>			
	</div>
</body>
</html>