<!DOCTYPE html>
<html lang="es">
<head>
    <title>Formulario</title>
    <meta charset="utf-8"/>
    <link th:href="@{/css/LoginAcme.css}" rel="stylesheet" />
</head>
 
<body>
 
  <div id="registrar">

</div> <!-- fin opcion-->
 
    <div id="envoltura">
        <div id="contenedor">
 
            <div id="cabecera" >
                <img src="/css/Acme.jpg"/>
            </div>
 
            <div id="cuerpo">
                <form id="form-login" th:action="@{/rest-usuario/login/}" method="post" autocomplete="off" class="form-horizontal">

                    <p><label >Nro Documento:</label></p>
                        <input name="nrodocumento" type="text" id="nrodocumento" placeholder="Ingrese Nro Documento" autofocus="" required=""/>
 
                    <p><label>Contraseña:</label></p>
                        <input name="pin" type="password" id="pin" placeholder="Ingresa Contraseña" required=""/>
 
                    <p id="bot"><input type="submit" id="submit" name="submit" value="Ingresar" class="boton"/></p>
                </form>
            </div><!--fin cuerpo-->
 
            <div id="pie">Acceso al Sistema Acme</div>
        </div><!-- fin contenedor -->
    </div><!--fin envoltura-->
</body>
 
</html>