<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Cuentas</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Test Final ACME SA</a>
			</div>
			<ul type="square" class="nav navbar-nav">
				<li><a th:href="@{/rest-usuario/usuario}">Datos usuario</a></li>
			</ul>
		</div>
	</nav>

	<div class="movimiento">
		<h2>Usuario</h2>
		<div class="table-responsive col-lg-8">
			<table class="table table-striped">
				<tbody th:each="usuario : ${usuario}">
					<tr>
						<td th:text="${usuario.nombre}"></td>
					</tr>
				</tbody>
			</table>
			<h3>Cuenta</h3>
			<div class="table-responsive col-lg-8">
				<table class="table table-striped">
					<thead>
						<th>Nro Cuenta</th>
						<th>Moneda</th>
						<th>Saldo</th>
					</thead>
					<tbody th:each="cuenta : ${cuenta}">
						<tr>
							<td th:text="${cuenta.nrocuenta}"></td>
							<td th:text="${cuenta.moneda}"></td>
							<td th:text="${cuenta.saldo}"></td>
						</tr>
					</tbody>
				</table>
				<h4>Movimientos</h4>
				<div class="table-responsive col-lg-8">
					<table class="table table-striped">
						<thead>
							<th>Fecha-Hora</th>
							<th>Monto</th>
							<th>Tipo</th>
						</thead>
						<tbody th:each="movimiento : ${movimiento}">
							<tr>
								<td th:text="${movimiento.fechahora}"></td>
								<td th:text="${movimiento.monto}"></td>
								<td th:text="${movimiento.tipomovimiento}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</body>
</html>