<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Transferencia entre Cuentas</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Test Final ACME SA</a>
			</div>
			<ul type="square" class="nav navbar-nav">
				<li><a th:href="@{/rest-usuario/usuario}">Datos usuario</a></li>
			</ul>
		</div>
	</nav>

	<div class="titulo">
       <h2>Transferencia</h2>
    </div>

	
	<div id="detalle">

		<form id="form"  th:action= "@{/rest-cuenta/ctatransferencia}" th:object="${transferencias}"
			autocomplete="off" method="post">
			
			<input type="hidden" name="idcuenta" th:field="*{idcuenta}"/>
			
			<p><label>Cuenta Debito </label><input name="ctadebito" type="text" id="ctadeb" th:field="*{ctadebito}" readonly="readonly"/></p>
			

			<p><label>Moneda </label><input name="moneda" type="text" id="moneda" th:field="*{moneda}" readonly="readonly"/></p>
			
			
			<p><label>Saldo </label> <input name="saldo" type="text" id="saldo" th:field="*{saldo}" readonly="readonly"/></p>
			
			
			<p><label>Cuenta Credito </label><input name="ctacredito" type="text" id="ctacre" placeholder="Ingresa Cta Credito" autofocus=""  required=""/></p>
			
			
			<p><label>Monto Transferencia </label><input name="monto" 
			       type="integer" 
			       id="monto"
			       placeholder="Ingresa Monto a transferir" 
			       required=""
			/></p>
			
            
			<p id="bot">
			  <input type="submit" 
			           id="submit" 
			         name="submit" 
			        value="Confirmar"
			        class="boton" /> 
			</p>
		</form>
	</div>
	<!--fin detalle-->

</body>
</html>