<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Cuentas</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Test Final ACME SA</a>
			</div>
			<ul type="square" class="nav navbar-nav">
				<li><a th:href="@{/rest-cuenta/cuenta}">Lista de Cuentas</a></li>
			</ul>
		</div>
	</nav>

    <div id="usuario">
        <h3>Datos usuario</h3>
                <table class="table table-striped">
				  <thead>
					  <th>Nombre</th>
					  <th>Documento</th>
					  <th>Opciones</th>
				  </thead>            
                  <tbody th:each="usuario : ${usuario}" > 
				    <tr>
					  <td th:text="${usuario.nombre}"></td>
					  <td th:text="${usuario.nrodocumento}"></td>
					  <td><a th:href="@{/rest-cuenta/cuenta/{idusuario}(idusuario=${usuario.idusuario})}">Ver Cuentas</a></td>
				    </tr>					
				  </tbody>
			    </table>	
    </div><!--fin usuario-->
    

</body>
</html>